<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Tarea02JMEntities" connectionString="metadata=res://*/PersonModel.csdl|res://*/PersonModel.ssdl|res://*/PersonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=163.178.107.130;initial catalog=Tarea02JM;persist security info=True;user id=sqlserver;password=saucr.12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>